<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidiForwarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MidiForwarder.Properties.Settings>
            <setting name="receivePort" serializeAs="String">
                <value>1666</value>
            </setting>
            <setting name="sendIp" serializeAs="String">
                <value>90.29.249.75</value>
            </setting>
            <setting name="sendPort" serializeAs="String">
                <value>1666</value>
            </setting>
        </MidiForwarder.Properties.Settings>
    </userSettings>
</configuration>