<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidiForwarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MidiForwarder.Properties.Settings>
            <setting name="receivePort" serializeAs="String">
                <value>1666</value>
            </setting>
            <setting name="sendIp" serializeAs="String">
                <value>x.x.x.x</value>
            </setting>
            <setting name="sendPort" serializeAs="String">
                <value>1666</value>
            </setting>
            <setting name="FilterNormalSysEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterEscapeSysEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSequenceNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterCopyrightNotice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSequenceTrackName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterInstrumentName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterLyric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterMarker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterCuePoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterProgramName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterDeviceName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterChannelPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterPortPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterEndOfTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSetTempo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSmpteOffset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterTimeSignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterKeySignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSequencerSpecific" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterUnknownMeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterCustomMeta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterNoteOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterNoteOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterNoteAftertouch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterControlChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterProgramChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterChannelAftertouch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterPitchBend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterTimingClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterContinue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterActiveSensing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterMidiTimeCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSongPositionPointer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterSongSelect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterTuneRequest" serializeAs="String">
                <value>False</value>
            </setting>
        </MidiForwarder.Properties.Settings>
    </userSettings>
</configuration>